/* ICON BACK */
.back_arrow_icon{
	color: rgba(17, 2, 2, 0.911);

	&:hover{
		color: #ff79da;
		transition: 0.5s;
	}
}
.back_arrow{
    position: absolute;
    left: 6%;
}

/* Logo */
.figureOhmyfood{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Shrikhand;
    font-size: 40px;
    
  }

/* Header ville */
#selection_ville{
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    background-color: #e7e7e7f1;

    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        margin-left: 20px;
    }
}
/* header general */
header{
    text-align: center;
    padding-bottom: 40px;
}

.background_header{
    background-color: #F2F2F2;
    padding-bottom: 50px;
}
#figureOhmyfood{
    
}