/* ICON BACK */
.back_arrow_icon{
	color: #9356dc;

	&:hover{
		color: #ff79da;
		transition: 0.5s;
	}
}
/* Logo */
#figureOhmyfood{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
  }
  .logoOhmyfood{
    width: 22%;
    min-width: 150px;
    max-width: 250px;
  }
/* Header ville */
#selection_ville{
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    background-color: #e7e7e7f1;

    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        margin-left: 20px;
    }
}
/* header general */
header{
    text-align: center;
    padding-bottom: 40px;
}

.background_header{
    background-color: #F2F2F2;
    padding-bottom: 50px;
}