/* VARIABLES */
/* RALEWAY */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* RESET GENERAL */
body {
  margin: 0px;
}

p {
  margin: 0px;
}

figure {
  margin: 0px;
}

/* couleurs */
.white {
  color: white;
}

.gris {
  color: #646464;
}

/* CSS GENERAL */
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.7em;
}

h1, h2 {
  font-weight: bolder;
  font-size: 1.7em;
}

h3 {
  margin: 0px;
  margin-bottom: 5px;
}

/* animation background loader */
.backgroud_loader {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  -webkit-animation: back 4s linear both;
          animation: back 4s linear both;
  background-color: white;
}

@-webkit-keyframes back {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes back {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #9356DC;
  margin-top: -20px;
  margin-left: -20px;
  -webkit-animation: o-box 2s linear infinite;
          animation: o-box 2s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 0px;
  width: 40px;
  height: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#99E2D0));
  background: linear-gradient(#FF79DA, #99E2D0);
  -webkit-animation: i-box 2s linear infinite;
          animation: i-box 2s linear infinite;
}

@-webkit-keyframes o-box {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25%, 50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75%, 100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes o-box {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25%, 50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75%, 100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes i-box {
  0%, 25% {
    height: 0px;
  }
  50%, 75% {
    height: 100%;
  }
  100% {
    height: 0px;
  }
}

@keyframes i-box {
  0%, 25% {
    height: 0px;
  }
  50%, 75% {
    height: 100%;
  }
  100% {
    height: 0px;
  }
}

/* ICON BACK */
.back_arrow_icon {
  color: #9356dc;
}

.back_arrow_icon:hover {
  color: #ff79da;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Logo */
#figureOhmyfood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.logoOhmyfood {
  width: 22%;
  min-width: 150px;
  max-width: 250px;
}

/* Header ville */
#selection_ville {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px 20px 0px;
  background-color: #e7e7e7f1;
}

#selection_ville a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 20px;
}

/* header general */
header {
  text-align: center;
  padding-bottom: 40px;
}

.background_header {
  background-color: #F2F2F2;
  padding-bottom: 50px;
}

.headerPresentation {
  padding-left: 20px;
  padding-right: 20px;
}

/* coeurs vide/plein */
.like {
  position: relative;
}

.coeur_vide {
  font-size: 20px;
}

.coeur_vide:hover {
  opacity: 0%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.coeur_plein {
  position: absolute;
  bottom: 27px;
  left: 2px;
  opacity: 0;
  width: 35px;
}

.coeur_plein:hover {
  position: absolute;
  background: linear-gradient(40deg, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 23px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: 24px;
  left: -1px;
}

/* main */
main h2 {
  margin-left: 20px;
}

/* Bouton restaurants */
#selectionRestaurant {
  margin-top: 30px;
}

.btn_restaurant {
  text-decoration: none;
  padding: 15px 25px 15px 25px;
  border-radius: 30px;
  font-weight: bolder;
  color: white;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-box-shadow: 0px 1px 5px #616161;
          box-shadow: 0px 1px 5px #616161;
  font-size: 0.8em;
}

.btn_restaurant:hover {
  background: linear-gradient(170deg, #fa87d9, #9d6fd6);
  -webkit-box-shadow: 0px 5px 10px #616161;
          box-shadow: 0px 5px 10px #616161;
}

/* fonctionnement > 3 boutons */
.rond_choix {
  border: 1px solid #9356DC;
  background-color: #9356DC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  margin-left: -10px;
}

.fonctionnementBoutons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#choix_1, #choix_2, #choix_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 340px;
  height: 65px;
  max-width: 350px;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  background-color: #F2F2F2;
  -webkit-box-shadow: 0px 0px 10px #C2C2C2;
          box-shadow: 0px 0px 10px #C2C2C2;
}

#choix_1 a, #choix_2 a, #choix_3 a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

#choix_1 i, #choix_2 i, #choix_3 i {
  padding-left: 25px;
  padding-right: 25px;
}

#choix_1:hover, #choix_2:hover, #choix_3:hover {
  background-color: #dbbeff86;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.05em;
}

#choix_1:hover i, #choix_2:hover i, #choix_3:hover i {
  color: #9356DC;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* titre restaurants */
#titre_article_restaurants {
  width: 100%;
}

/* Section restaurants */
#sectionRestaurants {
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

#sectionRestaurants a {
  text-decoration: none;
  color: black;
}

/* figure dans > Section restaurants */
.restaurants_photo {
  -webkit-box-shadow: 0px 0px 10px #C2C2C2;
          box-shadow: 0px 0px 10px #C2C2C2;
  position: relative;
  border-radius: 20px;
  width: 310px;
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7%;
}

.restaurants_photo img {
  width: 310px;
  height: 162px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.restaurants_photo:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#lanoteenchantee {
  -o-object-position: 30%;
     object-position: 30%;
}

/* Figcaption */
.figcaption_restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px 15px 20px;
}

/* Nouveau produit */
.new_product {
  position: absolute;
  padding: 5px 10px 5px 10px;
  font-weight: bolder;
  background-color: #99E2D0;
  color: #006b50;
  right: 10px;
  top: 15px;
  border-radius: 5px;
}

.new_product_2 {
  position: absolute;
  padding: 5px 10px 5px 10px;
  font-weight: bolder;
  background-color: #99E2D0;
  color: #006b50;
  right: 10px;
  top: 15px;
  border-radius: 5px;
}

/* FOOTER */
/* LOGO */
#footer_logo {
  width: 15%;
  min-width: 120px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Shrikhand;
  color: white;
}

footer {
  border: 1px solid #3d3d3d;
  background-color: #3d3d3d;
  padding-top: 2%;
  padding-left: 25px;
  text-align: left;
}

footer a {
  text-decoration: none;
  color: white;
}

.footer_texte {
  margin-bottom: 10px;
}

.footer_texte_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
}

.footer_texte_a a {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  /* pour format 768px et + */
  .restaurants_photo {
    margin-right: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  /* pour format 768px et - */
  #sectionRestaurants a {
    width: 90%;
  }
  .restaurants_photo {
    width: 100%;
  }
  .restaurants_photo img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */