@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');




h2, h3, p
{
	margin: 0px;
}

figure{
	margin: 0px;
}
/* CSS GENERAL */
body{
	font-family: Roboto;
	text-align: center;
	margin: 0px;
	background-color: #F2F2F2;
}

h1{
	font-family: Shrikhand;
}
/* COULEURS */
.white{
	color: white;
}
/* HEADER GENERAL */
.headerTop{
	display: flex;
	justify-content: center;
	align-items: center;
}
/* coeurs vide/plein */
.like{
	position: relative;
}
.coeur_vide{

	font-size: 20px;
	&:hover{
		opacity: 0;
		transition: 0.1s;
	}
}

.coeur_plein{
	position: absolute;
	opacity: 0;
	left: -7px;
	top: 0px;
	width: 35px;

	&:hover{
		background: linear-gradient(40deg, $secondaire_color, $primaire_color);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		font-size: 23px;
		opacity: 1;
		transition: 0.3s;
	}
}

@import "../sass/layout/header";

/* IMAGE HEADER */
#header_plat_image{
	width: 100%;
	max-height: 500px;
	object-fit: cover;
}
/* TITRE A LA FRANCAISE */
#figureRelative{
	position: relative;

	.figcaption_titre{
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		border-radius: 30px 30px 0px 0px;
		background-color: #F2F2F2;
		bottom: 0px;

		h1{
			margin-left: 3%;
		}

		div{
			margin-right: 3%;
		}
	}
}
/* MAIN -> ENTREES PLATS DESSERTS */
main{
	margin-left: 3%;
	margin-right: 3%;

	h2{
		text-align: left;
		font-size: 1.1em;
		margin-bottom: 5%;
		margin-top: 5%;
		color: #616060;
		border-bottom: 3px solid #99E2D0;
		width: 45px;
		padding-bottom: 5px;
	}
	h3{
		font-size: 1em;
		font-weight: bold;
		margin-bottom: 1%;
	}
}

.animationHover{
	display: flex;
	background-color: #99E2D0;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 72px;
	width: 70px;
	align-items: center;
	justify-content: center;
	margin-right: -80px;
}

.check{
	font-size: 1em;
}
/* ENTREES */
.entreesCartouche, .platsCartouche, .dessertsCartouche{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2%;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 5px #bbbbbb;
	overflow: hidden;

	&:hover{
		.animationHover{
			margin-right: 0px;
			transition: 0.3s;
		}
		.cartoucheTexte{
			width: 60%;

		}

		.check{
			transform: rotate(360deg);
			transition: 600ms 50ms ease-in-out;
			font-size: 1.5em;
		}
	}


	a{
		text-decoration: none;
	}
}

.cartoucheTexte{
	text-align: left;
	width: 90%;
	padding: 10px 10px 10px 10px;

	h3{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	p{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.cartouchePrix{
	font-weight: bold;
	padding: 10px 10px 10px 10px;
}
/* BOUTON COMMANDER */
.commander{

	padding: 15px 0px 15px 0px;
	border-radius: 30px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 5%;
	background: linear-gradient(170deg, $secondaire_color, $primaire_color );
	box-shadow: 0px 1px 5px #616161;

	a{
		text-decoration: none;
		color: white;
		font-size: 1.2em;
	}

	&:hover{
		background: linear-gradient(170deg, #fa87d9, #9d6fd6 );
		box-shadow: 0px 5px 10px #616161;
	}
}

@import "../sass/layout/footer";
@media screen and (min-width: 768px) { /* pour format 768px et + */
	.entrees_bloc, .plats_bloc, .desserts_bloc{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.entreesCartouche, .platsCartouche, .dessertsCartouche{
			min-width: 400px;
			max-width: 600px;
			margin: 10px;

			
		}
	}
}
@media screen and (max-width: 415px){ /* pour format 415px et - */
	.entreesCartouche, .platsCartouche, .dessertsCartouche{
		.cartoucheTexte{
			width: 75%;
		}

	}
}